<div class="flex justify-between px-5 md:px-10">
  <h3 class="pl-5 pt-5 text-gray-800">Users</h3>
  <div class="pr-5 pt-5">
    <button
      type="button"
      class="text-lg p-3 px-5 rounded-md hover:bg-blue-400 bg-blue-500"
      (click)="filterShow()"
    >
      Filter
    </button>
  </div>
</div>
<div class="mb-4 p-4 bg-white rounded-md">
  <!-- Search by Username -->
  <div *ngIf="isshowFilter" class="">
    <div class="mb-4 flex justify-end">
      <input
        type="text"
        placeholder="Search by Username"
        (input)="applyfilter($event)"
        class="md:w-1/3 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
      />
    </div>

    <!-- Filter by Workout Type -->
    <div class="mb-4 flex justify-end">
      <select
        id="workoutType"
        class="md:w-1/3 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
        [(ngModel)]="worktype"
        (change)="filterByWorkoutType(worktype)"
      >
        <option value="">All Workout Types</option>
        <option *ngFor="let type of workoutTypes" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>
    <hr />
  </div>

  <!-- User Data Table -->
  <div class="overflow-x-auto flex justify-center">
    <table class="w-1/2 ml-2 divide-y divide-gray-200 bg-gray-100 min-h-60">
      <thead>
        <tr>
          <th
            class="pl-4 text-left text-sm font-medium text-gray-500 uppercase"
          >
            Sr.No
          </th>
          <th
            class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase"
          >
            Name
          </th>
          <th
            class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase"
          >
            Workout Type
          </th>
          <th
            class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase"
          >
            Minutes
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let user of pagedUsers; let i = index">
          <td class="px-4 py-2 text-sm text-gray-700">
            {{ currentPage * pageSize + i + 1 }}
          </td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.name }}</td>
          <td class="px-4 py-2 text-sm text-gray-700">
            {{ user.workoutType }}
          </td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.minutes }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <div class="mt-4 flex justify-center gap-5">
    <button
      [disabled]="currentPage === 0"
      class="px-4 py-2 bg-gray-200 rounded-md disabled:opacity-50 hover:bg-gray-300"
      (click)="previousPage()"
    >
      Previous
    </button>
    <button
      [disabled]="currentPage >= pageCount - 1"
      class="px-4 py-2 bg-gray-200 rounded-md disabled:opacity-50 hover:bg-gray-300"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>
