<div class="mb-4 p-4 bg-white rounded-md shadow-md">
  <!-- Search by Username -->
  <div class="mb-4">
    <input
      type="text"
      placeholder="Search by Username"
      (input)="applyfilter($event)"
      class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
    />
  </div>

  <!-- Filter by Workout Type -->
  <div class="mb-4">
    <label
      for="workoutType"
      class="block text-sm font-medium text-gray-700 mb-2"
      >Filter by Workout Type</label
    >
    <select
      id="workoutType"
      class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
      [(ngModel)]="worktype"
      (change)="filterByWorkoutType('worktype')"
    >
      <option value="">All Workout Types</option>
      <option *ngFor="let type of workoutTypes" [value]="type">
        {{ type }}
      </option>
    </select>
  </div>

  <!-- User Data Table -->
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th
            class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase"
          >
            Sr.No
          </th>
          <th
            class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase"
          >
            Name
          </th>
          <th
            class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase"
          >
            Workout Type
          </th>
          <th
            class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase"
          >
            Minutes
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let user of pagedUsers; let i = index">
          <td class="px-4 py-2 text-sm text-gray-700">
            {{ currentPage * pageSize + i + 1 }}
          </td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.name }}</td>
          <td class="px-4 py-2 text-sm text-gray-700">
            {{ user.workoutType }}
          </td>
          <td class="px-4 py-2 text-sm text-gray-700">{{ user.minutes }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <div class="mt-4 flex justify-between">
    <button
      [disabled]="currentPage === 0"
      class="px-4 py-2 bg-gray-200 rounded-md disabled:opacity-50 hover:bg-gray-300"
      (click)="previousPage()"
    >
      Previous
    </button>
    <button
      [disabled]="currentPage >= pageCount - 1"
      class="px-4 py-2 bg-gray-200 rounded-md disabled:opacity-50 hover:bg-gray-300"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
</div>
